  h3
  {
    font-size: 25px !important;
  }
  canvas {
    border:2px dashed black;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes example {
    from {box-shadow: 1px 1px 38px rgb(198, 57, 18);}
    to {box-shadow: 1px 1px 38px rgb(6, 90, 236);}
  }

  .btn-success:hover{
    background-color: rgb(137, 40, 18);
  }